<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>ngMadLibs</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="app/assets/css/app.css" />
    </head>
    <body>
        <div class="container" ng-controller="wordsController">
            <div class="row text-center">
                <div class="col-md-4 border-right"><img src="app/assets/images/mad-lib-happy-face.png" /></div>
                <div class="col-md-8"><img src="app/assets/images/ng-mad-libs-logo.png" /><h1>Automate This!</h1></div>
            </div>
            <div class="panel-input padd-this text-center" ng-show="page == 'input'">
                <div class="col-md-12">
                    <p>Provide the following words:</p>
                    <form name="myForm" novalidate ng-submit='submitted = true; submit()'>
                      <p>
                          <input type="text" required     name="male_name"      ng-model="male_name"     placeholder="male name"           /><span class="error" ng-if="submitted && myForm.male_name.$error.required">Field is required!</span>
                          <input type="text" required     name="dirty_task"     ng-model="dirty_task"    placeholder="Dirty task"          /><span class="error" ng-if="submitted && myForm.dirty_task.$error.required">Field is required!</span>
                          <input type="text" required     name="obn_celeb"      ng-model="obn_celeb"     placeholder="Obnoxious celebrity" /><span class="error" ng-if="submitted && myForm.obn_celeb.$error.required">Field is required!</span>
                      </p>
                      <p>
                          <input type="text" required     name="job_title"      ng-model="job_title"     placeholder="Job title"           /><span class="error" ng-if="submitted && myForm.job_title.$error.required">Field is required!</span>
                          <input type="text" required     name="celeb"          ng-model="celeb"         placeholder="Celebrity"           /><span class="error" ng-if="submitted && myForm.celeb.$error.required">Field is required!</span>
                          <input type="number" required   name="huge_number"    ng-model="huge_number"   placeholder="Huge number"         /><span class="error" ng-if="submitted && myForm.huge_number.$error.required">Field is required!</span>
                      </p>
                      <p>
                          <input type="text" required     name="tedious_task"   ng-model="tedious_task"  placeholder="Tedious task"        /><span class="error" ng-if="submitted && myForm.tedious_task.$error.required">Field is required!</span>
                          <input type="text" required     name="useless_skill"  ng-model="useless_skill" placeholder="Useless skill"       /><span class="error" ng-if="submitted && myForm.useless_skill.$error.required">Field is required!</span>
                          <input type="text" required     name="adjective"      ng-model="adjective"     placeholder="Adjective"           /><span class="error" ng-if="submitted && myForm.adjective.$error.required">Field is required!</span>
                      </p>
                      <p><input type="submit" value="Generate My MadLib" /></p>
                    </form>
                </div>
            </div>
            <div class="panel-output pad-this text-center" ng-show="page == 'output'">
                <div class="col-md-12">
                    <p><span class="value">{{male_name}}</span> was a <span class="value">{{job_title}}</span> who loved technology. Although she loved parts of her job, she absolutely hated  <span class="value">{{tedious_task}}</span> and <span class="value">{{dirty_task}}</span>. So, <span class="value">{{male_name}}</span> met with her life mentor <span class="value">{{celeb}}</span> who told her to learn how to <span class="value">{{useless_skill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="value">{{useless_skill}}</span> so she studied programming instead.</p>
 
                    <p>What a great decision! With her new skills, <span class="value">{{male_name}}</span> built a(n) <span class="value">{{adjective}}</span> robot named <span class="value">{{obn_celeb}}</span> that not only loved <span class="value">{{dirty_task}}</span> but did it <span class="value">{{huge_number}}</span> faster.</p>
                </div>
                <p><input type="button" value="Reset" ng-click="reset()" /></p>
            </div>
        </div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/wordsController.js"></script>
</html>