/* Borders
----------------------------*/
.row {
    background-color:#eee;
    border: 1px solid #888;
    border-radius:3px;
}
.border-right { border-right: 1px solid #888; }

/* Pad bootstrap
----------------------------*/
.pad-this     { padding: 20px; }

/* Output
----------------------------*/
.value        { text-decoration: underline; }

/* Animate (transitions) !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.panel-input.ng-hide-add,
.panel-input.ng-hide-remove {
  -webkit-transition:1s linear all;
  transition:1s linear all;

  display:block!important;
  opacity:1;
}
.panel-input.ng-hide {
  opacity:0;
}

.panel-output.ng-hide-add,
.panel-output.ng-hide-remove {
  -webkit-transition:1s linear all;
  transition:1s linear all;

  display:block!important;
  opacity:1;
}
.panel-output.ng-hide {
  opacity:0;
} 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Animate (keyframes)
----------------------------*/
.panel-output.ng-hide-remove,
.panel-output.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.panel-output.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

.panel-output.ng-hide-remove {
  -webkit-animation:0.5s show;
  animation:0.5s show;
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

.panel-input.ng-enter {
  /* notice how we're using animation instead of transition here */ 
  -webkit-animation-delay:0.5s;
  animation-delay:0.5s;

  /* yes we still need to do this too */
  -webkit-animation-duration:0;
  animation-duration:0;
}
